:host {
  height: 100%;
  width: 50vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-wrapper {
  width: 50vw;
  height: 100%;
}

#grid-container {
  width: 50vw;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 32px;
}

.strike {
  text-decoration: line-through;
}
